@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

.body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ececec;
}

.header {
  max-width: 80%;
  margin: 0 auto;
  padding: 12px 10px;
  font-size: 25px;
}

.header a {
  color: rgb(40, 139, 40);
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

.main {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 80px;
}

h1 {
  margin-bottom: 40px;
  margin-left: 200px;
}

image {
  max-width: 100%;
}

.recipes-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  list-style: none;
  padding: 0;
}

.recipe-card a {
  display: block;
  height: 100%;
  text-decoration: none;
  color: #444;
  font-size: 22px;
  margin-left: 25%;
}

.recipe-card img {
  display: block;
  height: 300px;
  object-fit: cover;
  margin-bottom: 12px;
  border: 0.5px solid #444;
}
